body {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

h3 {
  margin-top: 2rem;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
.main-box {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid rgba(86, 61, 124, .2);
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Tab style */
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
.nav-tabs {
  border-bottom: 1px solid #212529;
  margin-bottom: 5px;
}
.nav-tabs .nav-link.active {
  color: #212529;
  border-bottom: 4px solid !important;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  color: #212529;
}